<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Password</th>
      <th>Email</th>
      <th>Nomor Telepon</th>
      <th>Alamat</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <% for(let i=0; i < customer.length; i++) { %>
        <tr>
            <td> <%=  i + 1 %></td>
            <td> <%=  customer[i].name %></td>
            <td> <%= customer[i].password %></td>
            <td> <%= customer[i].email %></td>
            <td> <%= customer[i].phoneNumber %></td>
            <td> <%= customer[i].alamat.provinsi %>,
                <%= customer[i].alamat.kota %>,
                <%= customer[i].alamat.kecamatan %>,
                <%= customer[i].alamat.desa %>
            </td>
            <td> <form >
                
                <a href="/customer/delete/<%= customer[i]._id %> " class="btn btn-danger" > <i class="fas fa-trash"></i> Hapus</a>
            </form></td>
        </tr>
        <% } %>
    </tbody>
    
  </table>